//-------------IMPORTS--------------------------------------------------//
@import 'drag';


//----------------VARIABLE DECLARATION----------------------------------//

$border: 5px;
$gap: 0.1rem;
$blackShadow: 2px 5px 10px #060606;
$boxShadow: 0 2px 4px rgba(0, 0, 0, 0.5);
$boxShadowEffect: 3px 0 rgba(255, 255, 255, 0.4) inset;
$borderRadius: 5px;
$primaryColor: #4e73df;
$secundaryColor: #212121;
$navbarColor: #3d3d3d; //#5a5c69;
$backgroundColor: #eee;
$ContainersBackgroundColor: #fff;
$backgroundColor2: #888;// bcd9de;
$asideColor: #4e73df;
$asideImage: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
$asideTextColor: #fff;
$underlineSize: 4px;
$letterSpace: 1px;
$success: #1addae;

//--------------INITIALIZATION-----------------------//
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: $backgroundColor;
	font-family: 'Catamaran', sans-serif;
	// font-family: 'Dosis', sans-serif;
}

img {
	max-width: 100%;
}

//-------------------------------------------------------//
//--------------GRID TEMPLATE MOBILE FIRST--------------//
.layout {
	display: grid;
	// grid-template-columns: 1fr;
	// grid-template-rows: 1fr max-content 1fr 50px;
	grid-auto-flow: column;
	gap: $gap;
	justify-items: stretch;
	grid-template-areas: 
		"header"
		"main"
		"aside"
		"footer";	
	transition: grid-template-columns 2s ease;
}

header {

	grid-area: header;
	background-color: $navbarColor;
	box-shadow: $boxShadow;
	height: 100%;
	width: 100%;
	.nav-bar{
		min-height: 50px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		.btn {
	    overflow: hidden;
	    position: relative;
	    border: none;
	    background-color: transparent;
	    height: 3rem !important;
	    width: 3rem !important;
	    border-radius: 5%;
	    flex-shrink: 0;
	    padding: 5px;
	    color: #fff;
	    cursor: pointer;
	    font-size: 1.25rem;
		}
		.d-flex {
	    align-items: center !important;
	    display: flex !important;
	    margin-left: 1rem !important;
	    font-size: 1rem;
		}
		.menu__item{
			display: block;
			color: #fff;
			align-items: center;
			.dropdown__item{
				margin-top: 60px;
				list-style: none;
				a{
					text-decoration: none;
					color: #fff;
					letter-spacing: $letterSpace;
				}
				i{
					margin-right: 5px;
				}
				&:hover{
					border-left: solid rgba(211, 220, 50, .9);
				}				
				
			}
		}
		.menu__logo{
			display: none;
			height: 50px;
			a{
					text-decoration: none;
					color: #fff;
					letter-spacing: $letterSpace;
					align-self: center;
			}
		}
		.menu__logout{
			padding: 0px 12px;
			max-height: 50px;
		}
	}
}

.aside {
	position: relative;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: $asideColor;
	background-image: $asideImage;
	grid-area: aside;
	align-content: center;
	top: 10px;
	.menu__horiz{
		width: 100%;
	}
	.dropdown__menu__horiz{
		display: flex;
		flex-direction: column;
		align-items: center;
		.divider {
			width: 0px;
		}
		.dropdown__horiz__item{
			width: 100%;
			display: block;
			border-bottom: solid 1px white;
			text-decoration: none;
			min-width: 200px;
			color: $asideTextColor;
			align-items: center;
			align-content: center;
			cursor: pointer;
			list-style: none;
			justify-content: center;
			padding-left: 15px;
			a {
				color: $asideTextColor;
				text-decoration: none;
				font-size: 0.9rem;
				user-select: none;
				text-shadow: none;
				letter-spacing: $letterSpace;

			}

			a:hover {
				text-shadow: 3px 3px 5px #101;
				color: #ffffff;
				/*font-size: 17px;*/
				margin-top: -1px;
				margin-left: -1px;
				transition: 0.3s;
			}
			.inside__menu__horiz {
				display: block;
				position: relative;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 11px;
		    cursor: pointer;	
		    list-style: none;
		    line-height: 1.8;
		    font-size: 14px;
		    text-decoration: none;
		    display: none;
		    overflow-wrap: normal;
		    text-shadow: 3px 3px 5px #101;
			}
		}
	}
	
}

.fa-user {
	cursor: pointer;
}

.inside__item__horiz a{
	display: block;
	text-decoration: none;
	list-style: none;
	color: #f2f2f2;
	text-shadow: 2px 5px 15px #060606;
}



.logout {
  background: none;
  border-style: none;
  height: 40px;
  text-shadow: 2px 5px 15px #060606;
  color: #fefefe;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 1px 10px 1px;
}

.dropdown__toggle {
	display: block;
	color: #fff;
  margin: 10px 38px;
	max-height: 20px;
	cursor: pointer;
	font-size: 1.5rem;
}


.container{
	background-color: #ddd;
	grid-area: main;
	padding-bottom: 50px;
	.menu_sub {
		position: relative;
		top: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    box-shadow: 1px 3px 20px lightblue;
    z-index: 500;
    .menu__item{
    	.inside__menu{
    		.inside__item{
					margin: 9px 2px;
    		}
    	}
    }
    .menu__logo2{
    	display: flex;
	    color: #333;
	    padding: 10px;
	    margin-right: 60px;
	    a {
	    	text-decoration: none;
		    color: #334;
		    font-size: 24px;
			}
		}
		.menu__item{
			display: flex;
    		flex-direction: column;
    		align-items: center;
    		.dropdown__item2 {
			    display: flex;
			    flex-direction: column;
			    align-items: center;
			    color: #fefefe;
			    min-width: 100px;
			    justify-content: center;
			    width: 100%;
    			padding: 18px;
			    flex-wrap: wrap;
				a {
				    color: #222;
				    text-decoration: none;
				    text-align: center;
				    font-weight: bold;
				    user-select: none;
				    text-shadow: 3px 3px 4px #ccc;
				    letter-spacing: $letterSpace;
				}
				.inside__menu{
					display: none;
					list-style: none;
					position: relative;
					margin-left: 10px;	
					text-align: center;				
				}
			}
		}
	}
	.container_registro{
		display: flex;
		flex-direction: column;
		margin: 13px 5px;
		padding-right: 2px;
		padding-bottom: 15px;
		border-radius: $borderRadius;
		background-color: $ContainersBackgroundColor;
		box-shadow: $boxShadow;
		.titulo{
			position: relative;
	    width: 100%;
	    border-radius: $borderRadius;
	    background-color: $backgroundColor;
	    border-left: 5px solid #4e73df;
	    border-bottom: 1px solid #aaa;
	    padding-left: 10px;
   		padding-top: 1px;
		}
		.row {
			padding: 15px;
			display: flex;
			flex-flow: row wrap;
			.input-container{
				flex-grow: 1;
				display: flex;
		    flex-direction: row;
		    align-items: center;
		    padding-right: 10px;
		    padding: 5px 3px;
				i{
					color: #555;
					font-size: 1.3rem;
					width: 30px;
				}
				input{
					flex-grow: 1;
					height: 30px;
					border: 1px solid $primaryColor;
					border-radius: 5px;
					box-sizing: border-box;
				}
				input[type=text]:focus{
					border: 3px solid $primaryColor;
					outline: none;
				}
				input[type=date]:focus{
					border: 3px solid $primaryColor;
					outline: none;
				}
				input[type=number]:focus{
					border: 3px solid $primaryColor;
					outline: none;
				}
				input[type=submit]{
					margin-right: 10px;
					margin-left: 40px;
					box-shadow: $boxShadow;
					&:active{
						opacity: 0.5;
						transform: scaleX(0.98) scaleY(0.9);
						box-shadow: none;
					}
					&:hover{
						font-weight: bold;
						font-size: 0.9rem;
						border: 2px solid $primaryColor;
					}
				}
				select{
					flex-grow: 1;
					height: 30px;
					border: 1px solid $primaryColor;
					border-radius: 5px;

				}
				select:focus{
					border: 3px solid $primaryColor;
					outline: none;
				}
				textarea {
					flex-grow: 1;
					height: 80px;
					border: 1px solid $primaryColor;
					border-radius: 5px; 
				}
				textarea:focus{
					border: 3px solid $primaryColor;
					outline: none;
				}
				.tooltiptext {
					display: none;
				}	
			}
		}
	}
	.container_tabla{
		display: flex; 
		flex-direction: column;
		padding-bottom: 5px;
		margin: 13px 2px;
		border-radius: $borderRadius;
		background-color: $ContainersBackgroundColor;
		box-shadow: $boxShadow;
		.titulo{
			position: relative;
	    width: 100%;
	    border-radius: $borderRadius;
	    background-color: $backgroundColor;
	    border-left: 5px solid #4e73df;
	    border-bottom: 1px solid #aaa;
	    padding-left: 10px;
   		padding-top: 1px;
		}
 		.listado{
 			flex-grow: 1;
 			.extra{
 				display:none;
 			}
 			thead{
 				tr{
 					th{
 						background-color: #fff4a3;
 					}
 				}
 			}
 			tbody {
 				.success {
 					background-color: $success;
 				}
 				.center{
 					text-align: center;
 				}
 				.right {
 					text-align: right;
 				}
 				.upperCase{
 					text-transform: uppercase;
 				}
 				tr{
 					input[type=number]{
 							max-width: 80px;
 						}
 					td{
 						padding: 3px 5px;
 					}
 				}
 			}
 		}


	}
}


.invisible {
	display: none;
}

.item1 {
	// background-color: darkred;
	display: flex;
	border: $border;
	height: 100px;
	width: 80%;
	box-shadow: $boxShadowEffect;
	justify-content: center;
	align-items: center;
	transition: all 0.8s ease;
	&:hover{
		box-shadow: 35rem 0 rgba(255,255,255,0.4) inset;
		transition: all 0.8s ease;
	}
}

.item2{
	background-color: blue;
	height: 300px;
	width: 300px;
}

.item3{
	background-color: yellow;
	height: 300px;
	width: 300px;
}

.footer {
	grid-area: footer;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: end;
}





//--------------------screen 650px --------------------------------------------------//


@media only screen and (min-width: 650px) {

	.layout{
		height: 100vh;
		grid-template-columns: 200px 5fr;
		grid-template-rows: 50px max-content 40px;
		grid-template-areas: 
		"header header header"
		"aside main main"
		"footer footer footer"
	}
	.container {
		display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: self-start;
    height: fit-content;
  	padding-bottom: 50px;
  	min-height: 85vh;
  	align-content: baseline;
		.menu_sub {
			flex-direction: row;
			flex-basis: 100vw;
			height: 42px;
			.menu__item {							
				flex-direction: row;
				
				.dropdown__item2 {
				    display: flex;
				    color: #fefefe;
				    text-decoration: none;
				    min-width: 200px;
				    align-content: center;
				    margin: 0px;
				    flex-wrap: wrap;
					a {
					    color: #222;
					    text-decoration: none;
					    font-weight: bold;
					    user-select: none;
					    letter-spacing: $letterSpace;
					}
					.inside__menu{
				    position: absolute;
				    top: 37px;
				    margin-left: 70px;
				    background-color: $backgroundColor2;
				    border-radius: 9px;
				    padding: 10px;
				    .inside__item{
				    	margin: 10px 0;
				    	a {
				    		color: #fff;
				    	}
				    }					
					}
				}
			}
		}
		.container_tabla{
	    flex-grow: 1;
    	flex-basis: 520px;
			.listado{
				.extra{
					display: table-cell;
				}
				thead{
	 				tr{
	 					th{
	 						
	 					}

	 				}
	 			}
	 			tbody{
	 				td{
 						input[type=number]{
 							max-width: 80px;
 						}
 					}
	 			}
			}
		}
	}
	header {
		position: fixed;
    z-index: 2000;
		height: 50px;
		.nav-bar{
			min-height: 50px;
			margin-bottom: 0px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.menu__item{
				display:flex;
				flex-direction: row;
				padding-left: 30px;
				.dropdown__item{
					.invisible {
						display: list-item;
					}
 					min-width: 110px;
 					margin: 0 36px;
					list-style: none;
					height: 100%;
					justify-content: center;
    			display: flex;
				  flex-wrap: wrap;
				  align-content: center;
				  cursor: pointer;	
					a{
						text-decoration: none;
						color: #fff;
					}
					i{
						display: block;
				    margin-right: 10px;
				    margin-top: 2px;
					}
					&:hover{
						margin-bottom: -$underlineSize;
						border-bottom: solid $underlineSize; 
						border-left: none;
					}
				}
				.dropdown__item--active{
					margin-bottom: -$underlineSize;
					border-bottom: solid $underlineSize;
				}

			}
			.menu__logo{
				display: flex;
				flex-direction: row;
				padding: 3px;	
				padding-right: 30px;
			}

		}
	}

	.dropdown__toggle {
		display: none;
	}

	.aside {
		position: fixed;
		top: 50px;
		height: 100%;
		padding-top: 10px;
		padding-left: 0px;	
		
		.dropdown__menu__horiz{

			.dropdown__horiz__item {
				padding-left: 15px;
				width: 100%;
				border: none;
			}
			.divider {
				display: flex;
				width: 100%;
				margin-bottom: 10px;
				margin-top: 10px;
				border-top: 2px solid $asideTextColor;
				opacity: 0.5;
				box-shadow: none;
			}
		}
	}
	.container {
		  .small{
    		max-width: 350px;
    		margin-left: 35px;
    	}
    	.medium{
    		max-width: 650px;
    	}
    	.large{
    		max-width: 850px;
    	}
		.container_registro {
			flex-grow: 1;
    	flex-basis: 350px;
    	margin: 13px 13px;
  	  .row{
	  	  .input-container{
	  	  	padding: 5px 3px;
	  	  	input{
	  	  		
	  	  	}
	  	  	textarea {
					  
					}
	  	  }
	  	}  
		}
	}
}